* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(
    133deg,
    rgba(46, 34, 172, 1) 0%,
    rgba(205, 71, 160, 1) 100%
  );
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 2% 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 500;
  font-stretch: extra-expanded;
  padding: 0.1em 0.4em;
  border: 4px white solid;
  opacity: 0.5;
}

nav {
  width: 640px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 1em;
}

nav ul li {
  position: relative;
}

nav ul li:nth-child(3)::after {
  content: "";
  height: 2em;
  width: 1.4px;
  position: absolute;
  right: -1em;
  top: -0.3em;
  background-color: rgb(255, 255, 255);
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.3em 0.8em;
}

.hero-transition {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.hero-img {
  width: 700px;
  position: absolute;
  right: 10%;
  bottom: -15%;
}

.hero-text-container {
  width: 40%;
  max-width: 720px;
  position: absolute;
  top: 35%;
  left: 15%;
  color: #fff;
  z-index: 2;
}

.hero-title {
  font-size: 4em;
  margin-bottom: 0.2em;
}

.hero-description {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.hero-button {
  width: 160px;
  height: 32px;
  font-size: 0.8em;
  font-weight: 600;
  color: orange;
  margin: 0 15px 0 0;
  border: 2px #fff solid;
  border-radius: 5px;
}

.hero-button:nth-of-type(2) {
  background: none;
  color: #fff;
}

.hero-button:hover {
  cursor: pointer;
}

.hero-arrow {
  position: absolute;
  bottom: 4.5vw;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.6em;
  z-index: 3;
}

.phones {
  width: 100vw;
  min-height: 800px;
  background-color: #fff;
  position: relative;
  text-align: center;
}

.phones-title {
  font-size: 2.5em;
}

.phones-subtitle {
  font-size: 2.5em;
  color: orange;
  position: relative;
  margin: 300px 0 100px 0;
}

.phones-container {
  width: 1100px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

.box {
  display: flex;
  text-align: left;
}

.box:nth-child(2) {
  transform: translateY(250px) translateX(-50px);
}

.box:nth-child(3) {
  transform: translateX(-60px);
}

.box:nth-child(4) {
  transform: translateY(250px) translateX(-100px);
}

.box:nth-child(2) .box-text {
  margin-top: 100px;
}

.box:nth-child(3) .box-text {
  margin-top: 60px;
}

.box:nth-child(4) .box-text {
  margin-top: 60px;
}

.box-title {
  width: 180px;
  font-size: 1.4em;
  line-height: 1.4em;
  display: flex;
  margin-top: 10%;
}

.box-number {
  font-size: 3em;
  font-weight: 400;
  margin: 15px;
}

.box-description {
  width: 220px;
  font-size: 1em;
  margin: 5% 5%;
}

.box:nth-of-type(1) .phone-img {
  transform: rotateZ(-25deg);
}

.box:nth-of-type(2) .phone-img {
  order: 1;
}

.box:nth-of-type(4) .phone-img {
  transform: translateY(100px) rotateZ(-75deg);
}

.box-title,
.phones-subtitle {
  color: rgb(226, 151, 11);
  font-family: "Patrick Hand", cursive;
}

.arrow {
  width: 80px;
  height: 80px;
  position: absolute;
}

.arrow-1 {
  transform: translateX(60px) translateY(-60px);
}

.arrow-2 {
  transform: translateX(420px) translateY(-80px) scaleX(-1) rotateZ(15deg);
}

.arrow-3 {
  width: 110px;
  height: 110px;
  position: absolute;
  transform: translateX(120px) translateY(-20px) rotateZ(-10deg);
}

.pricing {
  width: 100%;
  min-height: 1100px;
  background: linear-gradient(133deg, rgb(38, 18, 112), rgba(85, 20, 148, 1));
}

.pricing-title {
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  padding: 4em 10em;
}

.pricing-title span {
  font-size: 2.5em;
  font-weight: 500;
}

.pricing-container {
  width: 1500px;
  height: 700px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.pricing-box {
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.left-box {
  width: 34%;
}

.right-box {
  width: 65%;
}

.left-box-top {
  height: 20%;
  border-bottom: 2px orange solid;
  text-align: left;
  padding: 2em;
  position: relative;
}

.left-box-top h3 {
  width: 30%;
  margin: auto;
  font-size: 1.2rem;
}

.left-box-top::before {
  content: "";
  width: 100px;
  height: 200px;
  background: url(./assets/elementy/phone_small.png);
  background-size: cover;
  position: absolute;
  top: -65px;
}

.left-box-top span {
  font-size: 2.2rem;
}

.left-box-mid {
  height: 20%;
  border-bottom: 2px orange solid;
  text-align: center;
  padding: 1em;
  font-size: 2.2rem;
  line-height: 1em;
}

.left-box-mid span {
  font-size: 1.2rem;
}

.left-box-list {
  padding: 2em 3em;
  list-style-type: none;
}

.left-box-list li {
  line-height: 2em;
}

.left-box-list li::before {
  content: "✔";
  font-size: 1.8em;
  margin-right: 10px;
}

.left-box-bottom p {
  font-size: 1.2em;
  font-weight: 600;
  padding: 1em 2em;
}

.left-box-bottom img {
  width: 150px;
  height: 45px;
  margin: 5px;
}

.left-box-bottom img:hover {
  cursor: pointer;
}

.left-box-bottom img:nth-of-type(1) {
  margin-left: 2em;
}

@media (max-width: 1650px) {
  body {
    font-size: 15px;
  }

  .hero-img {
    right: 0;
  }

  .hero-text-container {
    left: 10%;
  }
}

@media (max-width: 1250px) {
  body {
    font-size: 14px;
  }

  .hero-img {
    right: -120px;
    width: 600px;
    bottom: -5%;
  }

  .hero-text-container {
    left: 5%;
    width: 40%;
  }

  header {
    padding: 2% 5%;
  }

  .phones-container {
    width: 900px;
    zoom: 0.8;
    transform: translateX(-5%);
  }

  .box:nth-child(2) {
    transform: translateY(250px) translateX(-100px);
  }
}

@media (max-width: 900px) {
  body {
    font-size: 13px;
  }

  .phones-container {
    zoom: 0.6;
  }

  .box-title {
    font-size: 2em;
  }

  .box-description {
    font-size: 1.4em;
  }

  .phones-subtitle {
    margin: 150px 0 80px 0;
  }

  .hero-img {
    width: 600px;
    bottom: -25%;
  }

  .hero-text-container {
    top: 15%;
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 900px) {
  .phones-container {
    zoom: 0.5;
  }
}

@media (max-width: 550px) {
  .hero-img {
    width: 500px;
    bottom: -20%;
  }

  .hero-text-container {
    top: 15%;
    width: 80%;
    left: 10%;
  }

  .hero-button {
    width: 40%;
  }
}
